<meta name="viewport" content="initial-scale=1.0, width=device-width" />
<link rel="preload" as="style" href="//fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" />
<link rel="preload" as="style" href="//fonts.googleapis.com/icon?family=Material+Icons" />
<link rel="preload" as="style" href="//code.getmdl.io/1.3.0/material.deep_purple-green.min.css" />
<link rel="stylesheet" href="//code.getmdl.io/1.3.0/material.deep_purple-green.min.css" />
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" />
<link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css" />

<style>
.docs-layout-header.mdl-layout__header {
  background-color: #37474f;
  background: url(https://getmdl.io/assets/logo.svg),url(https://getmdl.io/assets/header.jpg);
  background-size: auto 118px,cover;
  background-repeat: no-repeat,no-repeat;
  background-position: center center,center center;
}
.docs-layout-header.mdl-layout__header {
  height: 560px;
  max-height: 50%;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: none!important;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 40px;
  flex-shrink: 0;
  position: relative;
  display: -webkit-flex!important;
  display: -ms-flexbox!important;
  display: flex!important;
}
.docs-layout-header>.mdl-layout__header-row {
  padding: 0;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  height: auto;
}
.docs-layout-title {
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1.5em;
  font-size: 1rem;
}
.docs-layout-title a {
    font-weight: inherit;
    color: #fff;
}
</style>